.grid {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 2vw;
    height: 2vw;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}